//Галерея
//$galBg: darken($blue, 15%);
$galBg: darken($blue, 5%);
.gal {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0rem .5rem;
    min-height: 8rem;
    transition: all .2s ease-in-out;
    border-radius: 4px;
    font-size: 0;
    //background-color: $galBg;
    &:hover {
        background-color: $galBg;
    }
    &:empty {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 3rem 3rem;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 24.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23cccccc;%7D%0A%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M0,150.6h174.7V0H0V150.6z M30.1,30.1h114.4v90.4H30.1V30.1z'/%3E%3Cpath class='st0' d='M0,512h174.7V184.7H0V512z M30.1,214.8h114.4v130.5l-36.3,30.3l-45-15l-33.1,11V214.8z M30.1,403.4l33.1-11 l51.4,17.1l29.9-24.9v97.4H30.1V403.4z'/%3E%3Cpath class='st0' d='M208.8,512H512V337.3H208.8V512z M238.9,367.4h242.9v114.4H238.9V367.4z'/%3E%3Cpath class='st0' d='M208.8,0v303.2H512V0H208.8z M409.6,273.1h-98.4V242c0-23.8,19.4-43.2,43.2-43.2h12 c23.8,0,43.2,19.4,43.2,43.2L409.6,273.1z M335.3,143.6c0-13.8,11.3-25.1,25.1-25.1c13.8,0,25.1,11.3,25.1,25.1 s-11.3,25.1-25.1,25.1C346.6,168.7,335.3,157.4,335.3,143.6z M481.9,273.1h-42.2V242c0-27.1-14.8-50.7-36.6-63.4 c29.4-35.8,3.9-90.2-42.7-90.2c-46.6,0-72.1,54.4-42.7,90.2c-21.9,12.7-36.6,36.4-36.6,63.4v31.1h-42.2V30.1h242.9V273.1z'/%3E%3Cpath class='st0' d='M87.5,302c16.6,0,30.1-13.5,30.1-30.1s-13.5-30.1-30.1-30.1s-30.1,13.5-30.1,30.1S70.9,302,87.5,302z'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    

    &__thumb { //Изображение       
        width: 100%;
        opacity: 1;
        vertical-align: middle;
        transition: all .2s ease-in-out;
       
    }
    
    &__item { //Плейсхолдер изображения в галерее
        padding: .5rem;
        margin: 0; 
        background-color: $galBg;
        position: relative;
        z-index: 1;
        
        div {
            position: relative;
            height: 100%;
            width: 100%;
            display: block;
        }
        img {
            position: relative;
            max-width: 100%;
            z-index: 1;
            object-fit: cover;
            height: 100%;
            //box-shadow: .1px .1px 5px rgba(0,0,60,0.3), .25rem .25rem .5rem rgba(0,0,60,0.15);
            border-radius: .25rem;
            
        }
        &:last-child {
            flex-grow: 1;
        }
        &:hover {            
            .gallery__thumb {
                opacity: .5 !important;
            }
            
            .gallery__button {
                opacity: 1;                
            }
        }
        caption {
            position: absolute;
            width: 100%;
            display: block;
            bottom: 0;
            left: 0;
            z-index: 10;
            text-align: left;
            background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 45%);
            
            max-height: 50%;
            color: #fff;
            font-size: .85rem;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding: 2rem .5rem .5rem .5rem;
            pointer-events: none;
            &:empty {
                display: none; 
            }
        }
    }
    &::after {
        content: '';
        flex-grow: 30000;
        min-width: calc(100vw / 4);
    } 
}

.pswp__caption__center {
    max-width: 60% !important;
    font-size: 1rem !important;
}