.map {
    position: relative;
    height: 100vh;
    overflow: hidden;
    .page {
        background-color: transparent;
    }
}
.globe {

    z-index: 1;
    width: 100vw;
    
    margin: 0;
    padding: 0;
    &__dialog {
        transform: translateY(1.5rem) scale(.6);
        opacity: 0;
        transition: all .25s ease-in-out 0s;
        pointer-events: none;
        top: 8rem;
        right: 2rem;
        position: absolute;
        width: 40vw;
        height: 30vh;
        display: flex; 
        align-items: center;       
        z-index: 99;
        background-color: rgba(255,255,255,.6);
        border-radius: .5rem;
        padding: 0;
        box-shadow: .5rem .5rem 1rem rgba(30,30,90, .3);
        background: rgba( 255, 255, 255, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 6.5px );
        -webkit-backdrop-filter: blur( 6.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        
        &__close {
            position: absolute !important;
            right: .5rem;
            top: .5rem;
            z-index: 10;
        }
        &__content {
            display: block;
            position: relative;
            margin: 1rem 2rem;
            font-size: 1.25rem;
            z-index: 1;
        }
        
        
    }
    .showDialog {
        opacity: 1 !important;
        pointer-events: all;
        transform: translateY(1.5rem) scale(1) !important;
    }
    &__planet {
        width: 100vw;
        position: relative;
        z-index: 10;
    }

    &__legend {
        display: flex;
        position: absolute;
        z-index: 99;
        bottom: 5rem;
        
        color: #fff;
        width: 100vw;

    }

}

.legend {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    div {
        width: 10rem;
        text-align: center;
        margin: 0 2rem;
        padding: .25rem 1rem;
        border-radius: .25rem;
        font-size: 1.5rem;
        font-weight: bold;
        position: relative;
        &:before {
            content: "";
            position: absolute;  
            width: 100%;
            height: .25rem;
            top: -.25rem;
            left: 0;
            border-radius: .25rem;
        }
    }
    &__projects {
        
        
        &:before {
            background: linear-gradient(270deg, red, blue 100%);
        }
        
    }
    &__partners {
        &:before {
            background: linear-gradient(270deg, red, gold 100%);
        }
        

    }
}

.dialog {
    &__header {
        font-size: 2rem;
        color: darken($blue, 5%);
    }
    &__content {
        
    }
}