.image {
    position: relative;
    margin: 1rem 0;
    figure {
        margin: 0;
        img {
            position: relative;
            max-width: 100%;
        }
        caption {
            position: relative;
            min-width: 500px;
            width: 100%;
            font-style: italic;
            color: #666;
        }
    }
    
}