.fullimage {
    position: relative;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-size: 0;
    img {
        position: relative;
        max-width: 100%;
        margin: 0;
    }
    caption.shadowClass {
        position: absolute;
        width: 100%;
        height: 7rem;
        bottom: 0;
        left: 0;
        box-sizing: border-box;
        color: #fff;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        padding: 1rem 1.5rem;
        font-size: 1rem;
        text-align: left;        
        box-sizing: border-box;
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 70%);
    }
    caption.underCaption {
        position: relative;
        width: 100%;
        display: block;
        height: 2rem;
        color: #666;
        font-style: italic;
        font-size: 1rem;
        line-height: 3rem;
        text-align: left;
        padding: 0 1.5rem;
        box-sizing: border-box;
    }
    
}