$loader: darken($blue, 5%);


  

.loader {
	background-color: $loader;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 1; 
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: all;
	opacity: 1;
	transition: all 0.5s ease-in-out 0s;
} 


  
.spinner .circle {
	border-radius: 100%;
  }
  .spinner .outer {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -55px;
	margin-left: -55px;
	width: 110px;
	height: 110px;
	border: 6px solid #6ea6e6;
	border-left: 6px solid #153d6b;
	border-right: 6px solid #153d6b;
	animation: cw 2s linear infinite;
  }
  .spinner .inner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -40px;
	width: 80px;
	height: 80px;
	border: 6px solid #6ea6e6;
	border-top: 6px solid #153d6b;
	border-bottom: 6px solid #153d6b;
	animation: ccw 1.5s linear infinite;
  }
  .spinner .main {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
	width: 50px;
	height: 50px;
	border: 6px solid #6ea6e6;
	border-left: 6px solid #153d6b;
	border-right: 6px solid #153d6b;
	animation: cw 1s linear infinite;
  }
  
  @keyframes cw {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(359deg);
	}
  }
  @keyframes ccw {
	to {
	  transform: rotate(0deg);
	}
	from {
	  transform: rotate(359deg);
	}
  }