.logo {
	//margin: 5rem auto;
	//width: 15rem;
	//height: 25rem;
}

#backGlow {
	position: relative;
	animation: backGlowAni 5s infinite ease-in-out;
}

@keyframes backGlowAni {
  0% {transform: translate(50%, 50%) scale(0); opacity: 0} 
  15% {transform: translate(50%, 50%) scale(0); opacity: 0}  
  35% {transform: translate(0%, 0%) scale(1); opacity: 1}
  100% { transform: translate(0%, 0%) scale(1); opacity: 1} 
}

#shadow {
	position: relative;
	transform: translate(calc(50% - 1rem), -1rem) scaleX(0);
	animation: shadowAni 5s infinite ease-in-out;
}

@keyframes shadowAni {
  10% {transform: translate(calc(50% - 1rem), -1rem) scaleX(0)}  
  25% {transform: translate(-1rem, -1rem) scaleX(1)}
  100% { transform: translate(-1rem, -1rem) scaleX(1)} 
}

#blueCone {
	position: relative;
	transform: translateY(5rem) scaleY(.5);
	opacity: 0;
	animation: blueConeAni 5s infinite ease-in-out;
	//transition: all 1s ease-in-out 0s;
}

@keyframes blueConeAni {
  0% {transform: translateY(5rem) scaleY(.5); opacity: 0;}  
  25% {transform: translateY(5rem) scaleY(.5); opacity: 0;}
  40% { transform: translateY(0)  scaleY(1); opacity: 1;}    
  100% { transform: translateY(0)  scaleY(1); opacity: 1;} 
}

#redCone {
	position: relative;
	transform: translateY(3rem) scaleY(.5);
	opacity: 0;
	animation: redConeAni 5s infinite ease-in-out;
	//transition: all 1s ease-in-out 0s;
}

@keyframes redConeAni {
  0% {transform: translateY(3rem) scaleY(.5); opacity: 0;}  
  25% {transform: translateY(3rem) scaleY(.5); opacity: 0;}
  40% { transform: translateY(0)  scaleY(1); opacity: 1;}    
  100% { transform: translateY(0)  scaleY(1); opacity: 1;} 
}

#nameBg {
	position: relative;
	transform: translate(calc(50% - 1rem), - 1rem) scaleX(0); //transform: translateX(50%) scaleX(0);
	opacity: 0;
	animation: nameBgAni 5s infinite ease-in-out;

}

@keyframes nameBgAni {
  10% {transform: translate(calc(50% - 1rem), -1rem) scaleX(0); opacity: 0;}  
  25% {transform: translate(calc(0% - 1rem), -1rem) scaleX(1); opacity: 1;}
  75% { transform: translate(0, 0) scaleX(1); opacity: 1;}    
  100% { transform: translate(0, 0) scaleX(1); opacity: 1;} 
}


#name {
	position: relative;
	transform: translate(-.9rem, -1rem);
	opacity: 0;
	animation: nameAni 5s infinite ease-in-out;
}

@keyframes nameAni {
  0% {transform: translate(-.9rem, -1rem); opacity: 0;}  
  34% {transform: translate(-.9rem, -1rem); opacity: 0;}
  75% { transform: translate(0, 0); opacity: 1;}    
  100% { transform: translate(0, 0); opacity: 1;} 
}

#redGlow {
	position: relative;	
	animation: glowAni 5s infinite ease-in-out;
}
#blueGlow {
	position: relative;	
	animation: glowAni 5s infinite ease-in-out;
}

@keyframes glowAni {
  65% { transform: translate(0, 0); opacity: 0;}    
  90% { transform: translate(13rem, 10rem); opacity: 1;} 
  100% { transform: translate(13rem, 10rem); opacity: 0;}
}

.st0{fill:url(#SVGID_1_);}
.st1{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
.st2{fill:#007DC5;}
.st3{clip-path:url(#SVGID_4_);}
.st4{fill:url(#SVGID_5_);}
.st5{clip-path:url(#SVGID_7_);fill:url(#SVGID_8_);}
.st6{fill:url(#SVGID_9_);}
.st7{clip-path:url(#SVGID_11_);}
.st8{clip-path:url(#SVGID_13_);fill:url(#SVGID_14_);}
.st9{fill:url(#SVGID_15_);}
.st10{fill-rule:evenodd;clip-rule:evenodd;fill:#223F9A;}
.st11{fill:#223F9A;}

.a{stop-color:#FFF;stop-opacity:0;}.b{stop-color:#FFF;}.c{stop-color:#ED1C2E;}.d{stop-color:#FFF;stop-opacity:0.5;}