
.menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    box-sizing: border-box;
    padding: 0;
    overflow-x: auto;
    .arrowBack {
        transform: translate(-5vw, 30vh);
    }
    
    

    &__container {
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        
        //width: 200%;
        padding-left: 10%;
        //padding-right: 2.5rem; 
    }
    
    &__cell {
        //width: 23vw;
        display: block;
        box-sizing: border-box;
        padding: 2rem .5rem;
        flex: 1;
        position: relative;
        &:last-child {
            padding-right: 1rem;
        }

        &__card {
            position: relative;
            background-color: $blue;
            border-radius: .5rem;
            width: 22vw;
            height: 55vh;
            box-shadow: .5rem .5rem 2rem rgba(30,30,30,.75);
            overflow: hidden;
        }
        &__link {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
        }
        &__image {
            position: relative;
            width: 100%;
            height: 80%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            z-index: 1;
            img {
              object-fit: cover;
              position: relative;
              //max-width: 100%;
              height: 100%;
              width: 100%;
            }
            
        }
        &__counter {
            position: absolute;
            z-index: 10;
            bottom: 4%; 
            left: 1rem;
            //color: $blue;
            
            color: #fff;
            font-size: 15rem;
            font-weight: bold;
            //text-shadow: .1rem .1rem 1rem rgba(255,255,255,.3);
            text-shadow: .1rem .1rem 1rem rgba(30,30,30,.5);
        }
        &__title {
            background-color: $blue;
            height: 20%; 
            color: #fff;
            font-size: 1.8rem;
            padding: .5rem 1rem .75rem 1rem;
            text-align: left;
            position: relative;
            z-index: 11;
            display: flex;
            align-items: center;
            &:before {
                position: absolute;
                content: "";
                width: 120%;
                height: 5rem;
                top: -5rem;
                left: -1rem;
                z-index: 8;
                background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
            }
        }
        &__submenu {
            position: absolute;
            display: block;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 15;
            background-color: $blue;
            list-style: none;
            li {
                padding: 0;
                margin: .5 0;
            }
        }
    }
    
}
.pointerAnimation {
    img {
        width: 4rem;
        height: 4rem;
    }
    position: absolute;
    bottom: 3rem;
    left: 19rem;
    animation: 4s infinite swipeLeft;

}

@keyframes swipeLeft{
    0% {
        opacity: .5;
        transform: translate(0, 0);
    }
    40% {
        opacity: 0;
        transform: translate(-2.5rem, 0);
    }

    100% {
        opacity: 0;
        transform: translate(-2.5rem, 0);
    }
}