.page {
    overflow: hidden;
    background-color: #fff;
    min-height: 100vh;
    .textField {
        
        margin-top: 2rem;
        font-size: 1.25rem;
        
    }
    
    
    
}

.text {
    font-family: "Nunito" !important;
    ul, ol {
        padding-left: 0;
        
        li {
            position: relative;
            margin-bottom: 1rem;

        }
    }
    ul {
        list-style: none;
        
        li {
            
            &:before {
                display: block;
                content: "";
                width: .5rem;
                height: .5rem;
                position: absolute;
                top: .6rem;
                left: -1.5rem;
                background-color: $gold;
            }
            ul {
                list-style: none;
                padding-left: 2.5rem;
                margin: .5rem 0 1rem 0;
                li {
                    
                    &:before {
                        display: block;
                        content: "";
                        width: .5rem;
                        height: .5rem;
                        position: absolute;
                        top: .6rem;
                        left: -1.5rem;
                        background-color: $blue;
                    }
                }
            }
        }
    }
    ul.second {
        padding-left: 2.5rem;
        li {
                    
            &:before {
                display: block;
                content: "";
                width: .5rem;
                height: .5rem;
                position: absolute;
                top: .6rem;
                left: -1.5rem;
                background-color: $blue;
            }
        }

    }
    ol {
        li {
            ul {
                margin: .5rem 0 1.5rem 2.5rem;
                li {
                    
                }
            }
        }
    }
    img {
        position: relative;
        max-width: 100%;
    }

    h1, h2, h3 {
        color: darken($gold, 10%);
    }
    p {
        margin-bottom: 2rem;
    }
}