.page.person {
    background-color: transparent;
}

.person {
    
    position: relative;
    display: flex;
    flex-direction: row;


    &__select {
        flex: .35;
        background-color: darken($blue, 5%);
        height: 100vh;
        overflow: hidden;
        position: relative;
        border-left: .5rem $gold solid;
        box-shadow: -.25rem -.25rem 1rem  rgba(30,30,30,.5);
        
        
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 20vh;
            background: linear-gradient(180deg, rgba(0,0,0,0) 0%, darken($blue, 15%) 100%);
            z-index: 10;
            bottom: 0;
            right: 0;
            pointer-events: none;
        }
        ul {
            padding-top: 4rem;
            padding-bottom: 8rem;

            li {
                list-style: none;
                text-align: left;
                button {
                    cursor: pointer;
                    font-size: 1.5rem;
                    display: block;
                    color: #fff;
                    padding: 1.5rem 0;
                    border: none;
                    border-bottom: 1px rgba(255,255,255,.25) dashed;
                    background: none;
                    width: 100%;
                    text-align: left;    
                    transition: all .2s ease-out;   
                    line-height: 1.75rem;      
                
                    
                }
                &:last-child {
                    button {
                        border-bottom: 0;
                    }
                    
                }
                
            }
            .active {
                button {
                    color: $gold;
                    font-size: 1.65rem;     
                }
                
            }
        }
        .scroll-container {
            overflow: hidden;
            height: 100vh;
            position: relative;
            z-index: 1;        
        }
    }
    &__field {
        flex: .65;
        top: 5rem;
        position: relative;
        font-family: "Nunito";
        
        height: 100vh;
        //display: flex;
        //background-color: #ccc;
        justify-content: center;
        align-items: center;
        max-height: calc(100vh - 5rem);

    }
    &__container {
        padding: 2rem 0;
        display: flex;
        justify-content: center;
        width: 100%;
        
    }
    &__item {
        width: 80%;
        background-color: #fff;
        padding: 0 2rem 1rem 2rem; 
        border-left: .5rem solid $gold;
        box-shadow: .25rem .25rem 1rem rgba(30,30,30,.3);
        font-size: 1.25rem;
        line-height: 2.25rem;
        border-radius: .5rem;
        transition: all .5s ease-out; 
        height: auto;
        overflow: hidden;
    }
    &__thumb {
        width: 20%;
        float: left;
        margin: .5rem 1rem .5rem 0rem;
        border-radius: .5rem;
    }
}