.page.projects {
    background: linear-gradient(270deg, rgba(0,0,0,0) 30%, rgba(0,0,0,0.5) 100%);
}

.projects {
    article {
        margin: 7vh 7vw 7vh 7vw;
        display: flex;
        position: relative;
        flex-direction: row;
    }

    &__period {
        flex: 1;
        color: #fff;
        text-shadow: 1px 1px .5rem rgba(30,30,30, 1);
    }

    &__year {
        font-size: 6rem;
        font-weight: 600;
        line-height: 6rem;
    }

    &__date {
        font-size: 1.25rem;
        font-weight: bold;
        border-bottom: 1px $gold solid;
        min-height: 2rem;
        

    }
    &__container {
        flex: 1.7;
        background-color: #fff;
        border-radius: .5rem;
        border-left: .5rem solid $gold;
        box-shadow: .25rem .25rem 1rem rgba(30,30,30,.5);
        padding: 1rem 2rem;
        
        display: flex;
        align-items: center;
        
        min-height: 4rem;
    }
    &__text {
        font-size: 1.5rem;
        font-family: "Nunito" !important;
        p {
            font-size: 1.5rem;
        }
    }
}