blockquote {
    background-color: #fff;
    box-shadow: .25rem .25rem 1rem rgba(30,30,30,.3);
    box-sizing: border-box;
    padding: 4rem;
    font-style: italic;
    margin: 4rem 0;
    border-left: .5rem $gold solid;
    border-radius: .25rem;
    cite {
        display: block;
        margin: 1.5rem 0 0 0;
        
        text-align: right;
        color: #666;
        font-style: italic;
    }
}