.react-slideshow-container {
    position: fixed;
    width: 100vw;
    height: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
}
.react-slideshow-fade-wrapper {

}

.react-slideshow-fade-images-wrap {
    div {
        position: absolute;
        top: 0;
        left: 0 !important;
        width: 100vw;
        height: 100vw;
        img {
            position: relative;
            width: 100%;
            object-fit: cover;
        }
    }

}

.each-fade {


}