.sub {
    //background-color: #666;
    //background-image: url('../../public/img/homeBg.jpg'); 
    overflow: hidden;
    height: 100vh;
    .textField {
        height: calc(100vh - 4rem);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90vw;
        box-sizing: border-box;
        overflow: hidden; 
    }

    .page {
        background-color: transparent !important;
    }
    
    .submenu {
        transform: translateY(-1.5rem) scale(.6);
        opacity: 0;
        transition: all .25s ease-in-out 0s;
        //background-color: $blue;
        background-color: rgba(255,255,255,.6);
        border-radius: .5rem;
        padding: 0;
        box-shadow: .5rem .5rem 1rem rgba(30,30,90, .3);
        background: rgba( 255, 255, 255, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 6.5px );
        -webkit-backdrop-filter: blur( 6.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        &__counter {
            font-size: 5rem;
            font-weight: bold;
            opacity: .3;
            min-width: 6rem;
            position: relative;
            text-align: center;
        }
        &__title {
            position: relative;
            display: block;
            padding-left: 1.5rem;
        }
        ul {
            width: 80vw;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0;
            margin: 0;
            li {
                //float: left;
                width: 50%;
                list-style: none;
                
                box-sizing: border-box;
                font-size: 1.75rem;
                border-bottom: 1px $lines solid;

                &:nth-child(odd) {
                    border-right: 1px $lines solid;
                }
                &:last-child {
                    border-right: none;
                    border-bottom: none;
                }
                &:last-child {
                    &:nth-child(odd) {
                        border-right: 1px $lines solid;
                    }
                }
                &:nth-last-child(2) {
                    &:nth-child(odd) {
                        border-bottom: none;
                    }
                }
                a {
                    padding: 1rem 2rem 1rem 1.5rem;
                    display: block;
                    color: #335;
                    text-decoration: none;
                    display: flex;
                    flex-direction: row;
                    text-shadow: 1px 1px 1px rgba(255,255,255, .3);
                    align-items: center;
                    font-weight: bold;
                }

            }
        }
    }
    .showSubMenu {
        transform: translateY(-1.5rem) scale(1) !important;
        opacity: 1;
    }
}

