$loader: rgba(darken($blue, 5%), .7);

.timer {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    &__circle {
        .loader {
            pointer-events: none;
            background-color: $loader;
        }
    }

    &__message {
        position: absolute;
        top: 60%;
        color: #fff;
        font-size: 2rem;
        max-width: 60%;
        text-align: center;
        text-shadow: 2px 2px 2px rgba(30,30,30,.3);
    }
}

.showMessage {
    opacity: 1 !important;
}

.showMessage {
    .timer__countdown:before {
        animation: countdown 10.1s infinite linear;
        content: "";
        display: inline-block;
    }
}

@keyframes countdown {
    0% {content: "10"}
    10% {content: "9"}
    20% {content: "8"}
    30% {content: "7"}
    40% {content: "6"}
    50% {content: "5"}
    60% {content: "4"} 
    70% {content: "3"}
    80% {content: "2"}
    90% {content: "1"}
    99% {content: "0"}
    100% {content: "10"}
     
  }